### Problem Statement 1:
You survey households in your area to find the average rent they are paying. Find the
standard deviation from the following data:
$1550, $1700, $900, $850, $1000, $950.

In [8]:
import pandas as pd
# Area Rent data from the given list
areaRent = [1500,1700,900,850,1000,950]
# Let the data frame be df
df = pd.DataFrame(areaRent)
display(df)

      0
0  1500
1  1700
2   900
3   850
4  1000
5   950

In [4]:
display(df.describe())

                 0
count     6.000000
mean   1150.000000
std     357.770876
min     850.000000
25%     912.500000
50%     975.000000
75%    1375.000000
max    1700.000000

In [9]:
display(df.std())

0    357.770876
dtype: float64